


.header-container {
    position: relative;
    height: 100vh; /* Hauteur de l'écran */
    background: linear-gradient(135deg, #894e41, #a44e2f, #5f2f01); /* Dégradé de couleurs attractives */
    background-size: cover;
    background-position: center;
  }
  
  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000; /* Pour s'assurer que la barre de navigation est au-dessus */
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent pour la navbar */
  }
  
  .header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .header-content h1 {
    font-size: 3rem; /* Taille de la police du h1 */
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Ajout d'une ombre pour rendre le texte plus lisible */
  }

.content-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa; /* Couleur de fond claire */
}

.mt-5 {
  margin-top: 3rem !important;
}

.text-center {
  color: #343a40; /* Couleur de texte foncé */
  font-family: 'Arial', sans-serif; /* Police cohérente avec le reste du thème */
}





.home-container {
  text-align: center;
  padding: 50px;
  background:#f3ebe6; /* Light background color for contrast */
  border-radius: 10px; /* Rounded corners for a modern look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.home-container h1 {
  margin-bottom: 20px;
  color: #343a40; /* Darker text for better readability */
}

.home-container p {
  margin-bottom: 20px;
  color: #6c757d; /* Lighter text color for the description */
}

.home-button-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.home-button-list li {
  margin-bottom: 10px;
}

.home-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.home-button-primary {
  background-color: #007bff; /* Primary button color */
}

.home-button-primary:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.home-button-secondary {
  background-color: #6c757d; /* Secondary button color */
}

.home-button-secondary:hover {
  background-color: #5a6268; /* Darker shade on hover */
}
